body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(../Imagenes/Fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

img {
    width:150px;
    height:auto;
    margin: auto;
    display: block;
    border-radius: 15px;

}

div{
    background: none;
    width: 100%;
}