*{
padding: 2px;
margin: 2px;
}
#header {
margin:auto;
width:500px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

ul, ol {
list-style: none
}

.nav li a {
background-color: gold;
color:black;
width: 500px;
text-decoration: none;
padding: 2px 2px;

}
.nav li:hover {
background-color: black;
}
.nav > li {
float:left
}

.nav li ul{
display:none;
position: absolute;
min-width:40px;
}
.nav li:hover > ul{
display: block
}

.logo{
    width:30%px;
    margin-inline-end: auto;
    display: block;
}

.enac {
    width:70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
   
}

.calidad{
    width:70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
   
}

.logo2{
    width:150px;
    margin-left: 85%;
    display: block;

}

body{
    background-image: url(../Imagenes/Fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}